.dark {
  background-color: #181b24;
}

.container-div .pixel-div {
  width: 20px;
  height: 20px;
  border-top: 1px solid red;
  border-left: 1px solid red;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}

.container-div .pixel-div:hover {
  background-color: deeppink;
  transition: background-color 0.2s ease-in-out;
}

.container-div .pixel-div:last-child {
  border-right: 1px solid red;
}

.container-div .row-div {
  display: flex;
}


.container-div .row-div:last-child .pixel-div {
  border-bottom: 1px solid red;
}
