$size : 20px;

.rowDiv {
  display: flex;
}
.cellDiv {
  align-items: center;
  background-color: #181b24;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  height: $size;
  justify-content: center;
  width: $size;
  box-sizing: border-box;
  &.active {
    background-color: #1d6674;
  }
  &:hover {
    border: 1px solid #2a90a5;
  }
}