$size : 20px;
$decorationRadius: 2px;
$bigSpace: 12px;

@mixin boldBorder {
  border: 3px solid white;
  border-radius: $decorationRadius;
}

@mixin flexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}


div {
  box-sizing: border-box;
}

.stage {
  border-radius: 2px;
  padding: $bigSpace;
  @include boldBorder;

  .rowDiv {
    display: flex;
    justify-content: center;
  }

  .cellDiv {
    cursor: pointer;
    margin: 1px;
    border-radius: 2px;
    width: $size;
    height: $size;
    color: white;

    &.a {
      background-color: #1d6674;
    }

    &:hover {
      border: 1px solid #2a90a5;
    }
  }
}


.color-selector {
  display: flex;
  padding: $bigSpace;
  @include boldBorder;
  width: 100%;
  max-width: 382px;
  margin-bottom: $bigSpace;

  .color-samples {
    align-items: center;
    margin-left: $bigSpace;
    display: flex;

    .color-thumb {
      @include flexCenter;
      cursor: pointer;
      margin: 1px;
      border-radius: 4px;
      width: 50px;
      height: 40px;

      &:hover {
        box-sizing: border-box;
        border: 1px solid white;
      }

      &.active {
        box-sizing: border-box;
        border: $decorationRadius solid white;
      }
    }
  }
}

.action-bar {
  display: flex;
  margin-bottom: $bigSpace;
  @include boldBorder;
  padding: 14px;
  width: 100%;
  max-width: 382px;
  .title-input {
    font-size: 23px;
    width: 100%;
  }
}