$size : 20px;
$decorationRadius: 2px;
$bigSpace: 12px;

@mixin boldBorder {
  border: 3px solid white;
  border-radius: $decorationRadius;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-stored {
  @include boldBorder;
  margin-bottom: $bigSpace;
  border-radius: $decorationRadius;
  border-radius: 2px;
  padding: $bigSpace;
  width: 100%;
  max-width: 382px;

  select {
    padding: $bigSpace 4px;
    width: 100%;
  }
}

.stage {
  border-radius: 2px;
  padding: $bigSpace;
  @include boldBorder;

  .rowDiv {
    display: flex;
    justify-content: center;
  }

  .cellDiv {
    cursor: pointer;
    margin: 1px;
    border-radius: 2px;
    width: $size;
    height: $size;
    color: white;

    &.a {
      background-color: #1d6674;
    }

    &:hover {
      border: 1px solid #2a90a5;
    }
  }
}

.color-selector {
  display: flex;
  padding: $bigSpace;
  @include boldBorder;
  margin-bottom: $bigSpace;
  width: 100%;
  max-width: 382px;
  color: white;

  .color-samples {
    display: flex;
    align-items: center;
    margin-left: $bigSpace;

    .color-thumb {
      @include flexCenter;
      cursor: pointer;
      margin: 1px;
      border-radius: 4px;
      width: 50px;
      height: 40px;

      &:hover {
        box-sizing: border-box;
        border: 1px solid white;
      }

      &.active {
        box-sizing: border-box;
        border: $decorationRadius solid white;
      }
    }
  }
}

.action-bar {
  display: flex;
  margin-bottom: $bigSpace;
  @include boldBorder;
  padding: 14px;
  width: 100%;
  max-width: 382px;

  .title-input {
    width: 100%;
    font-size: 23px;
  }
}