#root {
  width: 100%;
  height: 100%;

  &.dark {
    background-color: #111111;
  }

  &.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    padding: 10px;
  }
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('./assets/m5x7.ttf') format('truetype');
  font-family: 'm5x7';
}

div {
  box-sizing: border-box;
}

p,
div,
h1,
h2,
h4,
span,
button,
input,
select,
option {
  font-family: 'm5x7';
  font-size: 22px;
  letter-spacing: 2px;
}

input[type="text"] {
  padding: 6px;
}